.back {
    background: transparent;
    border: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../images/pagina/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #140e07;
    color: #fff;
}

.container {
    max-width: 940px;
}


/* Header */

.header {
    text-align: center;
    margin-bottom: 50px;
}

.header .container {
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}


/* Main */

.main {
    margin: 80px 0;
}

.main h1 {
    color: #fff;
    font-size: 50px;
    margin: 0 0 20px 0;
    font-weight: 800;
}


/* Form */

.form-control {
    margin-bottom: 30px;
}

form input.form-control {
    border: 0px;
    border-radius: 0px;
}

label {
    color: #fff;
}

.main .btn {
    color: #fff;
    background: rgba(0, 240, 190, 0.25);
    border: 0px;
    border-radius: 5px;
    padding: 20px;
}

.main .btn:hover {
    color: rgb(129, 129, 129);
    background: rgba(3, 202, 162, 0.5);
    font-weight: 600;
}

.user-error,
.pass1-error,
.pass2-error,
.email-error {
    color: #dd4b39;
    font-weight: 600;
}

#userValid {
    display: none;
    position: absolute;
    right: 20px;
    color: green;
    font-size: 35px;
}

#userInvalid {
    display: none;
    position: absolute;
    right: 20px;
    color: red;
    font-size: 35px;
}

#pass1_hide {
    display: none;
    position: absolute;
    right: 20px;
    color: black;
    font-size: 35px;
}

#pass1_show {
    display: block;
    position: absolute;
    right: 20px;
    color: black;
    font-size: 35px;
}

#pass2_hide {
    display: none;
    position: absolute;
    right: 20px;
    color: black;
    font-size: 35px;
}

#pass2_show {
    display: block;
    position: absolute;
    right: 20px;
    color: black;
    font-size: 35px;
}

.optional {
    font-style: italic;
    font-weight: 500;
}


/* Footer */

.footer .container {
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.footer ul {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 80px;
}

.footer li {
    display: inline;
    margin-right: 20px;
}